{% extends 'base.html.twig' %}

{% block title %}Patient index{% endblock %}

{% block body %}
    <h1>Patient index</h1>
<div> <a href="{{path('app_rendez_vous_index')}}"> ajouter un rendez vous  </a> </div>
    <table class="table">
        <thead><div class="w-4/5 m-auto text-center">
        <div class="py-12 border-b border-gray-200">
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Nom</th>
                <th>Prenom</th>
             
            
            </tr>
        </thead>    
        <tbody>
      {% if app.user and 'ROLE_PATIENT' in app.user.roles %}
    <tr>
        <td>{{ app.user.id }}</td>
        <td>{{ app.user.email }}</td>
        <td>{{ app.user.nom }}</td>
        <td>{{ app.user.prenom }}</td>
        <td>
            <a href="{{ path('app_user_show', {'id': app.user.id}) }}">show</a>
            <a href="{{ path('app_user_edit', {'id': app.user.id}) }}">edit</a>
        </td>
    </tr>
{% endif %}
        </tbody>
    </table>
</div></div>
   {% if is_granted('ROLE_ADMIN') %} <a href="{{ path('app_register_patient') }}">Create new Patient</a> {% endif %}
{% endblock %}
