{% extends 'base.html.twig' %}

{% block title %}RendezVous{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<style>
table,td,tr,th {
border: 1px Solid black;
padding:10px;
}
a{
font-weight: bold;
color:green;
}
h1{
text-align:center;
font-weight: bold;
}
</style>
    <h1>Rendez Vous</h1>
    <br><br><br>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rendez_vou.id }}</td>
            </tr>
            <tr>
                <th>Temps</th>
                <td>{{ rendez_vou.temps ? rendez_vou.temps|date('H-i') : '' }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ rendez_vou.date ? rendez_vou.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>  {{ rendez_vou.etat }}</td>
            </tr>
        </tbody>
    </table><br><br>

    <a href="{{ path('app_rendez_vous_index') }}">back to list</a>



  
{% endblock %}
