{% extends 'base.html.twig' %}

{% block title %}RendezVous{% endblock %}

{% block body %}
    <h1>RendezVous</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rendez_vou.id }}</td>
            </tr>
            <tr>
                <th>Temps</th>
                <td>{{ rendez_vou.temps ? rendez_vou.temps|date('H-i') : '' }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ rendez_vou.date ? rendez_vou.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>  {{ rendez_vou.etat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_rendez_vous_index') }}">back to list</a>

    <a href="{{ path('app_rendez_vous_edit', {'id': rendez_vou.id}) }}">edit</a>

    {{ include('rendez_vous/_delete_form.html.twig') }}
{% endblock %}
