{% extends 'base.html.twig' %}

{% block title %}Admin index{% endblock %}

{% block body %}

    <h1>Admin index</h1>

    <table class="table">
        <thead><div class="w-4/5 m-auto text-center">
        
        <div class="py-12 border-b border-gray-200">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                
            </tr>
        </thead>
        <tbody>
        {% for admin in user %}
         {% if admin.roles[0]=='ROLE_ADMIN' %}  
            <tr>
              <td>{{ admin.id }}</td>
                <td>{{ admin.nom }}</td>
                <td>{{ admin.prenom }}</td>
                <td>{{ admin.email }}</td>
              
               
                <td>
                    <a href="{{ path('app_user_show', {'id': admin.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': admin.id}) }}">edit</a>
                </td>
                
            </tr>
            
        {% else %}
           
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
    <a href="{{ path('app_register_admin') }}">Create new Admin</a>
{% endblock %}
