{% extends 'base.html.twig' %}

{% block title %}Docteur index{% endblock %}

{% block body %}
   
{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_DOCTEUR') %}
    <table class="table">
        <thead><div class="w-4/5 m-auto text-center">
        <div class="py-12 border-b border-gray-200">
            <tr> <h1>Docteur index</h1>
                 <th>Id</th>
                <th>Email</th>
                  <th>Nom</th>
                    <th>Prenom</th>
                
            </tr>
        </thead>
        <tbody>
        {% if is_granted('ROLE_ADMIN') %}
        {% for docteur in user %}
    {% if docteur.roles[0] == 'ROLE_DOCTEUR' %}
        <tr>      <td>{{ docteur.id }}</td>
            <td>{{ docteur.email }}</td>
                  <td>{{ docteur.nom }}</td>
                        <td>{{ docteur.prenom }}</td>
            <td>
                <a href="{{ path('app_user_show', {'id': docteur.id}) }}">show</a>
                <a href="{{ path('app_user_edit', {'id': docteur.id}) }}">edit</a>
                   
          
                
            </td>
        </tr>
    {% endif %}
{% else %}
{% endfor %}
{% endif %}

   
    {% if  app.user and 'ROLE_DOCTEUR' in app.user.roles %}
        <tr>      <td>{{ app.user.id }}</td>
            <td>{{ app.user.email }}</td>
                  <td>{{ app.user.nom }}</td>
                        <td>{{ app.user.prenom }}</td>
            <td>
                <a href="{{ path('app_user_show', {'id': app.user.id}) }}">show</a>
                <a href="{{ path('app_user_edit', {'id': app.user.id}) }}">edit</a>
                   
          
                
            </td>
        </tr>
    {% endif %}



        
        </tbody>
        
    </table>
<br> 
      {% if is_granted('ROLE_ADMIN')  %} <a href="{{ path('app_register_docteur') }}">Create new Docteur</a> {% endif %}
    {% endif %}
    
     <table class="table">
     
        <thead><div class="w-4/5 m-auto text-center">
        <div class="py-12 border-b border-gray-200">
            <tr>
                <th>Id</th>
                <th>Temps</th>
                <th>Date</th>
                <th>Etat</th>
              
            </tr>
        </thead>
        <tbody>
        {% for rendez_vou in rendez_vouses %}
        {% if rendez_vou.etat=='accepte'  %}
    <tr>
        <td>{{ rendez_vou.id }}</td>
        <td>{{ rendez_vou.temps ? rendez_vou.temps|date('H-i') : '' }}</td>
        <td>{{ rendez_vou.date ? rendez_vou.date|date('Y-m-d') : '' }}</td>
        <td disabled="disabled">{{ rendez_vou.etat}}</td> 

    </tr>{% endif %}
{% else %}
    <tr>
        <td colspan="5">no records found</td>
    </tr>
{% endfor %}
        </tbody></div> </div> 
    </table>
</div></div>
<br> </br>
   
{% endblock %}
