{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<br><br><br><br><br><br><br>
<style>
table,td,tr,th {
border: 1px Solid black;
padding:10px;
}
a{
font-weight: bold;
color:green;
}
h1{
text-align:center;
font-weight: bold;
}
section
{
margin-left:20px;
}
</style>
    <h1>User index</h1>
<section id="contacter_nous" class="contact-us-single">
    <div class="row no-margin">
        <div  class="col-sm-12 cop-ck">
    <table class="table">
    <br> 
<br>
<br>
<br> 
<br>
<br>
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>actions</th>
                <th>Traitement</
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
    </section>
    <a href="{{ path('app_user_new') }}" style="margin-left:20px;">Create new</a>
{% endblock %}
